extends layout

block content
  form.create-post(action="/create", method="POST")
    input(type="text", name="title", placeholder="Title", required)
    input(type="text", name="author", placeholder="Author", required)
    select(id="dropdown" name="topic" required)
      option(value="", disabled, selected) Select a Topic
      option(value="General") General
      option(value="Technology") Technology
      option(value="Science") Science
      option(value="Health") Health
      option(value="Lifestyle") Lifestyle
      option(value="Education") Education
      option(value="Politics") Politics
    textarea(name="content", placeholder="Content", required)
    button(id="create" type="submit") Create

    div(style="margin-top: 20px")
      button(id="back" type="button", onclick="window.history.back()") Back
