extends layout  
  
block content  
  
  form(method='post' action='/edit-profile/' + currentUser._id id='edit-profile-form')
    p(style="display: block") Username
      input(type='text' name='username' style="display: inline-block" pattern="^[0-9A-Za-z]{4,20}$" value= currentUser["username"] required) 
    p(style="display: block") Email Address
      input(type='text' name='email' style="display: inline-block" value= currentUser["email"]||"") 
    p(style="display: block") Full Name
      input(type='text' name='full_name' style="display: inline-block" value= currentUser["fullName"]||"") 
    p(style="display: block") Date of Birth
      input(type='date' name='date_of_birth' style="display: block" value= currentUser["dateOfBirth"] ? currentUser["dateOfBirth"].split("T")[0] : "") 
    
    if errorMsg
      p(style="color: #d9534f") #{errorMsg}

    button(id="create" type="submit" style="display: block") Save Changes

  div(style="margin-top: 20px")  
    a(href="/profile")
      button(id="back" type="button") Back