doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
    // Including the theme.js script
    script(src="/js/theme.js")
  body
    header
      div.header-content
        h1 Blog with Express
        nav.navbar
          ul
            li
              a(href="/index") Home
            li
              a(href="/create") Create Post
            li
              a(href="/stats") Stats
            li
              a(href="/profile") My Profile
            li
              button(class="button-style" onclick="toggleTheme()") Toggle Dark Mode
    main
      h1= title
      block content
