extends layout  
  
block content  
  
  p Username: #{currentUser["username"]}
  p Email Address: #{currentUser["email"]||""}
  p Full Name: #{currentUser["fullName"]||""}
  p Date of Birth: #{currentUser["dateOfBirth"] ? new Date(currentUser["dateOfBirth"]).toLocaleString("en-GB").split(",")[0] : ""}

  a(href="/edit-profile")
    button(id="create" type="submit") Edit Profile  
  
  div(style="margin-top: 20px")  
    a(href="/index")
      button(id="back" type="button") Back

  form(action="/login")
    button(id="delete" type="submit") Logout