extends layout  
  
block content  
  
  p Username: #{currentUser["username"]}
  p Email Address: #{currentUser["email"]||""}
  p Full Name: #{currentUser["full_name"]||""}
  p Date of Birth #{currentUser["date_of_birth"]||""}

  a(href="/edit-profile")
    button(id="create" type="submit") Edit Profile  
  
  div(style="margin-top: 20px")  
    button(id="back" type="button", onclick="window.history.back()") Back