extends layout  
  
block content  
  
  
  button(id="create" type="submit") Edit Profile  
  
  div(style="margin-top: 20px")  
    button(id="back" type="button", onclick="window.history.back()") Back